.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.auth-container > #content {
  margin-bottom: 20px;
}
.auth-menu {
  display: flex;
  column-gap: 10px;
  font-size: 20px;
}

.auth-menu > a {
  padding: 10px;
  background-color: bisque;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.auth-menu > a:hover {
  color: brown;
}

.register-form,
.login-form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.register-form > input,
button {
  padding: 5px;
  width: 300px;
}
.login-form > input,
button {
  padding: 5px;
  width: 300px;
}
