* {
  overflow: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
/* NAVBAR*/

/*Error Page */
.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 25px;
}
